name: Publish on Marketplace
on:
  release:
    types: [published]
jobs:
  gradle:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: 14
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: publishPlugin
        gradle-version: "7.0"
      env:
        ORG_GRADLE_PROJECT_intellijPublishToken: ${{ secrets.ORG_GRADLE_PROJECT_intellijPublishToken }}